/* 长方体的话具备长宽高三个属性，此时无法通过像正方体那样旋六个div构成的正方形面,所以我们需要根据不同面的特点进行旋转和移动*/
/* 构造一个长宽高:400*200*200的长方体 */
.rectangle {
  width: 400px;
  height: 200px;
  position: relative;
  transform: perspective(900px);
  transform-style: preserve-3d;
  transform-origin: center center -100px;
  animation: rectangle-move 6s infinite;
}
.rectangle div {
  position: absolute;
  background: #27ae60;
  font-size: 3em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.rectangle div span {
  display: inline-block;
  transform-origin: center center -100px;
}
.rectangle div:nth-child(1) {
  width: 400px;
  height: 200px;
  background: #e67e22;
}
.rectangle div:nth-child(2) {
  width: 400px;
  height: 200px;
  background: #2980b9;
  transform: translateZ(-200px);
}
.rectangle div:nth-child(2) span {
  transform: rotateY(-180deg);
}
.rectangle div:nth-child(3) {
  width: 200px;
  height: 200px;
  transform-origin: right;
  background: #e7c43c;
  transform: translateX(200px) rotateY(-90deg);
}
.rectangle div:nth-child(3) span {
  transform: rotateY(-180deg);
}
.rectangle div:nth-child(4) {
  width: 200px;
  height: 200px;
  transform-origin: left;
  background: #8e44ad;
  transform: rotateY(90deg);
}
.rectangle div:nth-child(4) span {
  transform: rotateY(-180deg);
}
/* 盖和底部 */
.rectangle div:nth-child(5) {
  width: 400px;
  height: 200px;
  transform-origin: left top;
  background: #009ad6;
  transform: rotateX(-90deg);
}
.rectangle div:nth-child(5) span {
  transform: rotateX(-180deg);
}
.rectangle div:nth-child(6) {
  width: 400px;
  height: 200px;
  transform-origin: left bottom;
  background: #563624;
  transform: rotateX(90deg);
}
.rectangle div:nth-child(6) span {
  transform: rotateX(-180deg);
}
@keyframes rectangle-move {
  60% {
    transform-origin: center center -100px;
    transform: perspective(900px) rotateY(-270deg);
  }
  80% {
    transform-origin: center center -100px;
    transform: perspective(900px) rotateX(-90deg);
  }
  100% {
    transform-origin: center center -100px;
    transform: perspective(900px) rotateX(-270deg);
  }
}
